<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chatroom</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/index.css">
    <script src="../assets/script/jquery-3.4.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="container">
        <input type="text" id="userName" />
        <button onclick="login()">登入</button>
    </div>

    <script>
        var socket = io();
        var status = document.getElementById("status");
        socket.on("connect", function () {
            console.log("connected")
        })
        socket.on("testConsole", function (consoleData) {
            console.log("consoleData",consoleData)
        })
        socket.on("loginSuccess", function (result, ID) {
            if (result) {
                window.location.href = "/login/" + ID
            } else {
                alert("登入失敗")
            }
        })
        function login() {
            socket.emit("login", $("#userName").val());
        }
    </script>
</body>

</html>