<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../assets/script/jquery-3.4.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>大廳</title>
    <script>
        var ID = window.location.pathname.replace("/login/", "")
        var socket = io();
        socket.on("connect", function () {
            socket.id = ID
            $.get("/getUserInfo?id=" + ID, function (response) {
                console.log(response)
                $("#userName")[0].innerText = response.userName
                socket.emit("successLoginLobby", ID)
                socket.emit("refreshPlayerList")
            }).fail(function (error) {
                alert(error.responseText)
                window.location.href = "/"
            })
        })
        socket.on("userNotFound", function () {
            alert("userNotFound")
            window.location.href = "/"
        })
        socket.on("refreshPlayerList", function (users) {
            var _layout = ""
            users.map(function (user) {
                _layout += "<div>" + user.userName + " (" + (user.ready ? "ready" : "wait..") + ")</div>"
            })
            $("#users")[0].innerHTML = _layout
        })
        function readyPlay() {
            socket.emit("readyPlay", ID)
        }
    </script>
</head>

<body>
    <div>
        your name: <span id="userName"></span>
    </div>
    <div>
        <h1>users</h1>
        <div id="users"></div>
        <div id="play"><button onclick="readyPlay()">ready</button></div>
    </div>
</body>

</html>