html,
body {
    padding: 0;
    margin : 0;
}

html,
body,
input,
button {
    font-family: LiHeiPro, Microsoft JhengHei, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    ;
}

button:focus,
input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.container {
    width                                             : 100%;
    min-height                                        : 100vh;
    display                                           : flex;
    justify-content                                   : center;
    align-items                                       : center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#faf11a+0,f7ed33+37,f7f180+80,ffffff+100 */
    background                                        : #faf11a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #faf11a 0%, #f7ed33 37%, #f7f180 80%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #faf11a 0%, #f7ed33 37%, #f7f180 80%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #faf11a 0%, #f7ed33 37%, #f7f180 80%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf11a', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}

.custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}